.heading-\^3athon {
    font-size:70px;
    margin-top:200px;
    text-align: center;
}

.\^3athon {
    width: 900px;
    margin: auto;
}

.results {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.event {
    padding: 30px;
    font-size: 17px;
    font-weight: 600;
    width: 380px;
    border-radius: 10px;
    margin: auto;
    background-color: #13495CA9;
}

.event-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom:20px;
}

.event-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.school {
    display: block;
}

.minor-heading {
    margin-top:100px;
    text-align: center;
    font-size:50px;
    font-weight: bold;
}